<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Usuarios</h3>
        </div>
       <div class="card-body">
           <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRES</th>
                    <th>EMAIL</th>
                    <th>PASSWORD</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios" class="text-center">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.name}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.password}}</td>
                    <td>
                        <button class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
           </table>
       </div>
    </div>
</div>
