<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Usuarios</h3>
        </div>
       <div class="card-body">
          <form action="">
              <div class="form-group">
                  <label for= "">Email</label>
                  <input #email type="text" class="form-control">
              </div>
              <div class="form-group">
                <label for= "">Password</label>
                <input #password type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for= "">Nombre</label>
                <input #name type="text" class="form-control">
            </div>
                <button (click)="Guardar(name.value, email.value, password.value)" class="btn btn-danger">Guardar</button>
            <!(click)="Guardar(name.value, email.value, password.value)">
          </form>
       </div>
    </div>
</div>
