<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Tipo de Servicio</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for= "">Nombre de Servicio</label>
          <input #nameTServicio type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for= "">Costo de Servicio</label>
          <input #costo type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for= "">Servicio Relacionado</label>
          <input #servicioRelacionado type="text" class="form-control">
        </div>
        <button (click)="Guardar(nameTServicio.value, costo.valueAsNumber, servicioRelacionado.value)" class="btn btn-danger">Guardar</button>
        <!(click)="Guardar(name.value, email.value, password.value)">
      </form>
    </div>
  </div>
</div>
