<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Prestadores</h3>
        </div>
       <div class="card-body">
           <table class="table table-hover">
            <thead>
                <tr>
                    <th>NIT</th>
                    <th>NOMBRES</th>
                    <th>DIRECCION</th>
                    <th>TELEFONO</th>
                    <th>SERVICIO</th>
                    <th>SEDES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prestador of prestadores" class="text-center">
                    <td>{{prestador.nit}}</td>
                    <td>{{prestador.nombre}}</td>
                    <td>{{prestador.sedes}}</td>
                    <td>{{prestador.direccion}}</td>
                    <td>{{prestador.servicio}}</td>
                    <td>{{prestador.telefono}}</td>
                    <td>
                        <button class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
           </table>
       </div>
    </div>
</div>
