<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>TIPO DE SERVICIO</h2>
        </div>
       <div class="card-body">
           <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>COSTO</th>
                    <th>NOMBRE SERVICIO</th>
                    <th>SERVICIO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tServicio of servicios" class="text-center">
                    <td>{{tServicio.idServicio}}</td>
                    <td>{{tServicio.costoServicio}}</td>
                    <td>{{tServicio.nombreServicio}}</td>
                    <td>{{tServicio.servicio}}</td>
                    <td></td>
                    <td>
                        <button class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
           </table>
       </div>
    </div>
</div>
